html {
  font-size: 10px;
}

#main {
  margin: 30px 50px 0px 50px;
  padding: 15px;
  border-radius: 10px;
  background: #eee;
}
  
#title {
  font-size: 5rem;
  margin: -5px;
}
  
img {
  max-width: 40%;
  display: block;
  height: auto;
  margin: 0 auto;
}
  
#img-div {
  background: white;
  padding: 20px;
}
  
#img-caption {
  margin: 15px 0 0 0;
}
  
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
  
body {
  font-family: arial;
  text-align: center;
  line-height: 1.5;
  font-size: 1.75rem;
}
  
h1 {
  font-size: 3rem;
}
  
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
  
#headline {
  margin: 50px 0;
}
  
ul {
  max-width: 500px;
  margin: 0 auto 50px auto;
  text-align: left;
}
  
li {
  margin: 16px 0;
}
  
a {
  color: blue;
}
  
a:visited {
  color: purple;
}